# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Python
__pycache__/
*.py[cod]
*.pyo
*.env
.venv/
.env/

# Node/Frontend (se usar futuramente)
node_modules/
dist/

# VSCode
.vscode/

# Docker
*.env
